{% extends 'base.html.twig' %}
{% block body %}
{% include 'Components/_headerPro.html.twig' %}
<img class="deconnect" src="{{ asset('build/images/deconnexion.png') }}"/>
<img class="profile2" src="{{ asset('build/images/profil2.jpg') }}"/>
<img class="biographie" src="{{ asset('build/images/biographie.png') }}"/>
<img class="avantages" src="{{ asset('build/images/avantages2.png') }}"/>
<img class="conseil" src="{{ asset('build/images/conseils2.png') }}"/>
<a href="{{ path("home_") }}">
    <img class="jeconseil" src="{{ asset('build/images/jeconseil.png') }}"/>
</a>

{% endblock %}